services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    networks:
      - net-heatbeat

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    networks:
      - net-heatbeat
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  postgres:
    image: postgres:14-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: heartbeat_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    networks:
      - net-heatbeat
    volumes:
      - ./app/db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d heartbeat_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  producer:
    build: .
    depends_on:
      - kafka
    networks:
      - net-heatbeat
    volumes:
      - ./app/logs:/app/logs
    env_file:
      - .env
    #entrypoint:
    #[
    # "/app/producer/wait-for-kafka.sh",
    #"python",
    #"app/producer/data_generator.py",
    #]
    command: python producer/data_generator.py

  consumer:
    build: .
    depends_on:
      - kafka
      - postgres
    networks:
      - net-heatbeat
    command: python app/consumer/kafka_consumer.py

  spark:
    image: octoenergy/pyspark:4.0.0
    container_name: spark-streaming
    user: root
    depends_on:
      - kafka
      - postgres
    environment:
      - SPARK_MODE=master
    networks:
      - net-heatbeat
    volumes:
      - ./app/spark/spark_streaming.py:/opt/spark-apps/spark_streaming.py
      - ./app/spark/jars/postgresql-42.7.6.jar:/opt/spark-apps/jars/postgresql-42.7.5.jar

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - net-heatbeat
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_USERS_ALLOW_SIGN_UP: "false"

volumes:
  postgres_data:
  grafana_data:

networks:
  net-heatbeat:
